/* home,and preview components common styles */
.container{
    width: 100%;
}
.users{
    width: 80%;
    margin: 0 auto;
    
}

.list{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.item{
    width: 270px;
    height: 230px;
    margin:10px;
    border: 1px solid rgb(170, 170, 170);
    cursor: pointer;
}

.item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
   
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Pinfo{
    font-weight: bold;
  
}
.title{
    padding: 5px;

}

.theEnd{
    margin: 20px;
    }