<div class='container'>
    <div class='users'>
        <div class='list' *ngIf='allUsers'>
            <div class='item' *ngFor='let users of allUsers'>
                <a [routerLink]="['/preview']" routerLinkActive="router-link-active" >
                    <img [src]="users.imageUrl" alt="">
                    <div class='title'>
                        <span class='Pinfo'> {{users.prefix}} {{users.name}} {{users.lastName}}</span>
                        {{users.title}}
                    </div>

                </a>


            </div>


        </div>


    </div>
</div>