<div class='container'>
    <div class='fliends'>
        <div class='detailInfo' *ngIf='singleUser'>
            <div class="image">
                <img [src]="returnImgUrl(singleUser.id)">
            </div>

            <fieldset class="info">
                <legend>info</legend>
                <div class='Pinfo'>
                    {{singleUser.prefix}}
                    {{singleUser.name}}
                    {{singleUser.lastName}}
                </div>
                <div class='positionName'>
                    <i>{{singleUser.title}}</i>
                </div>
                <div class='contactInfo'>
                    <li> <span class=infoTitle> Email:</span> {{singleUser.email}}</li>
                    <li> <span class=infoTitle>Ip Address: </span> {{singleUser.ip}}</li>
                    <li> <span class=infoTitle>Job Area:</span> {{singleUser.jobArea}}</li>
                    <li> <span class=infoTitle>Job Type: </span> {{singleUser.jobArea}}</li>
                </div>



            </fieldset>
            <fieldset class="address">
                <legend>address</legend>
                <div class=Pinfo>
                    {{singleUser.company.name}}


                </div>
                <div class='contactInfo'>
                    <li> <span class=infoTitle>City:</span> {{singleUser.address.city}}</li>
                    <li> <span class=infoTitle> Country Address:</span> {{singleUser.address.country}}</li>
                    <li> <span class=infoTitle> State:</span> {{singleUser.address.state}}</li>
                    <li> <span class=infoTitle> Street Address: </span>{{singleUser.address.streetAddress}}</li>
                    <li> <span class=infoTitle> ZIP:</span> {{singleUser.address.zipCode}}</li>
                </div>
            </fieldset>
        </div>




        <div>
            <a (click)='navigateFromLink(friends)' *ngFor='let friends of linkArr'>
                <a [routerLink]="['/preview/friends.id']"><span class='routerLinks'>
                        {{friends.prefix}}{{friends.name}}{{friends.lastName}} ></span></a>
            </a>
        </div>


        <h2 class='friendTitle'>Friends:</h2>


        <div class='list' *ngIf='singleUser'>
            <div (click)='changeFriend(friends)' class='item' *ngFor='let friends of allFriends '>
                <img [src]="returnImgUrl(friends.id)">
                <div class='title'>
                    <div class='Pinfo'> {{friends.prefix}} {{friends.name}} {{friends.lastName}}</div>
                    <div>{{friends.title}}</div>
                </div>
            </div>
        </div>
    </div>

</div>